<app-index-navbar></app-index-navbar>
<section class="header relative pt-16 items-center flex h-screen index-header-section">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <!--div class="pt-32 sm:pt-0">
        <h2 class="font-semibold text-4xl text-blueGray-600">
          Notus Angular - A beautiful extension for Tailwind CSS.
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          Notus Angular is Free and Open Source. It does not change any of the
          CSS from
          <a
            href="https://tailwindcss.com/?ref=creativetim"
            class="text-blueGray-600"
            target="_blank"
          >
            Tailwind CSS.
          </a>
          It features multiple HTML elements and it comes with dynamic
          components for ReactJS, Vue and Angular.
        </p>
        <div class="mt-12">
          <a
            href="https://www.creative-tim.com/learning-lab/tailwind/angular/overview/notus?ref=na-index-page"
            target="_blank"
            class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-red-600 active:bg-red-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
          >
            Get started
          </a>
          <a
            href="https://github.com/creativetimofficial/notus-angular?ref=creativetim"
            class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
            target="_blank"
          >
            Github Star
          </a>
        </div>
      </div-->
    </div>
  </div>

</section>

<section class="pb-16 bg-blueGray-200 relative pt-32">
  <div
    class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
    style="transform: translateZ(0)"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-blueGray-200 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>

  <div class="container mx-auto">
    <div
      class="flex flex-wrap justify-center bg-white shadow-xl rounded-lg -mt-64 py-16 px-12 relative z-10"
    >
      <div class="w-full lg:w-8/12">

        <h3 class="font-semibold text-3xl">Imprint</h3>
        <p class="text-blueGray-500 text-lg leading-relaxed mt-4 mb-4">
          BearCave GmbH<br>
          Kuefsteingasse 11/16<br>
          1140 Vienna<br>
          Austria
        </p>
        <p class="text-blueGray-500 text-lg leading-relaxed mt-4 mb-4">
          FN 580706 f
        </p>
        <p class="text-blueGray-500 text-lg leading-relaxed mt-4 mb-4">
          <a href="tel:+4369917109905">+4369917109905</a>
        </p>
        <div class="text-center mt-16"></div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
