<app-index-navbar></app-index-navbar>
<section class="header relative pt-16 items-center flex h-screen index-header-section">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <!--div class="pt-32 sm:pt-0">
        <h2 class="font-semibold text-4xl text-blueGray-600">
          Notus Angular - A beautiful extension for Tailwind CSS.
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          Notus Angular is Free and Open Source. It does not change any of the
          CSS from
          <a
            href="https://tailwindcss.com/?ref=creativetim"
            class="text-blueGray-600"
            target="_blank"
          >
            Tailwind CSS.
          </a>
          It features multiple HTML elements and it comes with dynamic
          components for ReactJS, Vue and Angular.
        </p>
        <div class="mt-12">
          <a
            href="https://www.creative-tim.com/learning-lab/tailwind/angular/overview/notus?ref=na-index-page"
            target="_blank"
            class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-red-600 active:bg-red-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
          >
            Get started
          </a>
          <a
            href="https://github.com/creativetimofficial/notus-angular?ref=creativetim"
            class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
            target="_blank"
          >
            Github Star
          </a>
        </div>
      </div-->
    </div>
  </div>

</section>



<section class="pb-16 bg-blueGray-200 relative pt-32">
  <div
    class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
    style="transform: translateZ(0)"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-blueGray-200 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>

  <div class="container mx-auto">
    <div
      class="flex flex-wrap justify-center bg-white shadow-xl rounded-lg -mt-64 py-16 px-12 relative z-10"
    >
      <div class="w-full lg:w-8/12">
        <p class="text-4xl text-center">
          <span role="img" aria-label="love"> 😍 </span>
        </p>
        <h3 class="font-semibold text-3xl">So, you are interested in growing your SaaS company?</h3>
        <p class="text-blueGray-500 text-lg leading-relaxed mt-4 mb-4">
          Starting a SaaS business can be challenging, but with the right <b>knowledge</b> and guidance, it can also be incredibly rewarding. As the co-founder of a <b>successful</b> SaaS business, I've been through the ups and downs of building a company from scratch. I've learned a lot along the way and I want to share my <b>knowledge</b> with you.
        </p>
        <p class="text-blueGray-500 text-lg leading-relaxed mt-4 mb-4">
          That's why I've created a comprehensive guide to help you navigate the world of SaaS and grow a <b>profitable</b> business. This guide covers everything from identifying your perfect customer, to scaling your customer base and getting to profitability.
        </p>
        <p class="text-blueGray-500 text-lg leading-relaxed mt-4 mb-4">
          It's important to remember that starting a business is not a one-time event, it's a <b>journey</b>. Along the way, you'll encounter obstacles and you'll make mistakes. The key is to keep <b>learning and growing</b>. Surround yourself with a network of like-minded individuals who can offer support and guidance.
        </p>
        <p class="text-blueGray-500 text-lg leading-relaxed mt-4 mb-4">
          If you ever feel stuck or need <b>help</b>, don't hesitate to reach out to me. I'm always happy to offer a quick <a [routerLink]="['/consulting']">consulting session</a> and help you get back on track. Download the guide and let's start building your profitable SaaS business together.
        </p>
        <div class="sm:block flex flex-col mt-10">

          <app-nldownload></app-nldownload>
        </div>
        <p class="text-blueGray-500 text-lg leading-relaxed mt-4 mb-4 group-intro">
          Join the Zero-To-Saas community on Telegram and surround yourself with like minded founders. We discuss problems and find solutions. This is the next step in your journey to success.
          <a href="https://t.me/csupnig" class="cta-link" target="_blank">Ask me to join</a>
        </p>

        <div class="text-center mt-16"></div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
