<div class="intro">


  <div class="">
    <div
      class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white"
    >
      <i class="fas fa-sitemap"></i>
    </div>
    <!--h2 class="text-xl mb-1 font-semibold">Mind programming</h2-->
    <p class="mb-4 text-blueGray-500">
      I put my efforts towards leveling up, manifesting my purpose and building the best version of myself that I can bring to life. On the way I share the acquired knowledge and insights with everyone who is interested.
    </p>
    <p class="mb-4 text-blueGray-500">
      Find out more what is currently going on in my life in the <a [routerLink]="['/now']">now</a> section.
    </p>
    <p class="mb-4 text-blueGray-500">
      Using a combination of discussion, analysis and meditation lets me quickly get to the root of problems and find ways on how to solve them. This is especially true
      when you have the feeling that you or your business reached a plateau. Often times an inner fear or limiting belief is stopping your growth. Let's locate and remove those
      barriers together, so that you can reach your next growth stage.
    </p>
  </div>
</div>
