<div class="newsletter-signup-form">
  <!-- Begin Mailchimp Signup Form -->

  <form action="https://supnig.us8.list-manage.com/subscribe/post?u=91e49809a083eaa5638f8d959&amp;id=38cde629f9&amp;f_id=00925ee0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self">


    <div class="newsletter-form-elements">
      <input type="email" value="" name="EMAIL" placeholder="E-Mail" class="required email" id="mce-EMAIL" required>
      <input type="submit" value="Download" name="subscribe" id="mc-embedded-subscribe" class="submit">
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_91e49809a083eaa5638f8d959_38cde629f9" tabindex="-1" value=""></div>


  </form>

  <!--End mc_embed_signup-->
</div>
