<div class="project-section">
  <h2>Current Projects</h2>

  <div class="projects">
    <a href="https://www.appointmed.com" target="_blank">
      <div>
        <img src="/assets/img/projects/appointmed.svg"/>
        <p>
          A practice management software (SaaS) that empowers healthcare professionals and manages everything administrative. This gives our users more time to spend with their patients.
        </p>
      </div>
    </a>

    <a href="https://www.skino-shop.com" target="_blank">
      <div>
        <img src="/assets/img/projects/skino.png"/>
        <p>
          Making quality skin care affordable, this online store focuses on Korean cosmetics for everyone who wants to treat their skin.
        </p>
      </div>
    </a>

    <a [routerLink]="['/zerotosaas']">
      <div>
        <img src="/assets/img/projects/guide.png"/>
        <p>
          Helping new founders to get into SaaS (Software as a Service). This step by step guide leads you through the process of setting up
          a SaaS business, developing your product and getting the first paying customers.
        </p>
      </div>
    </a>
  </div>
</div>
