<div class="project-section">
  <h3>Not sure if consulting with me is right for you?</h3>
  <h2>Try consulting your mind in a meditation</h2>

  <div class="projects">
    <a href="https://csupnig.gumroad.com/l/mindstackmeditation-sleep" target="_blank">
      <div>
        <img src="/assets/img/MindStack.png" alt="Mind Stack"/>
        <p>
          If you have difficulties falling asleep at night or wake up, tossing around in your bed, try this meditation. It teaches your subconscious how to quickly and efficientyl fall asleep.
        </p>
      </div>
    </a>

    <a [routerLink]="['/consulting']">
      <div>
        <h3>Goal Setting</h3>
        <p>
          You have a goal, that you want to reach? With this meditation, we set the goal in your timeline, so your subconscious can actively guide you to reaching this goal. This is not a pre-recorded meditation and will be conducted either in person or via video call.
        </p>
      </div>
    </a>

    <a [routerLink]="['/consulting']" class="call-to-action">
      <div>
        <h3>Have something specific in mind?</h3>
        <p>
          YOU want to start IMRPOVING in a specific sphere or have an interesting project, that you want me to have a look at? Feel FREE to reach out and I'll get back to you. Or check out the <a [routerLink]="['/consulting']">consulting</a> section and see how I can HELP you there.
        </p>
      </div>
    </a>
  </div>
</div>
