
<div
  class="flex flex-wrap justify-center shadow-xl rounded-lg -mt-64 py-16 px-12 relative z-10 newsletter-container"
>
  <div class="w-full text-center lg:w-8/12">
    <p class="text-4xl text-center">
      <span role="img" aria-label="love"> 😍 </span>
    </p>
    <h3 class="font-semibold text-3xl">Knowledge is key - take yourself to the next level</h3>
    <p class="text-lg leading-relaxed mt-4 mb-4">
      I occasionally send out an email with key insights, that helped me to get to the next level on certain topics. Let me help you with this knowledge, so that you can learn from my experience.
    </p>
    <div class="sm:block flex flex-col mt-10">

      <div class="newsletter-signup-form">
        <!-- Begin Mailchimp Signup Form -->

        <form action="https://supnig.us8.list-manage.com/subscribe/post?u=91e49809a083eaa5638f8d959&amp;id=38cde629f9&amp;f_id=00925ee0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self">


          <div class="newsletter-form-elements">
            <input type="email" value="" name="EMAIL" placeholder="E-Mail" class="required email" id="mce-EMAIL" required>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="submit">
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_91e49809a083eaa5638f8d959_38cde629f9" tabindex="-1" value=""></div>


        </form>

        <!--End mc_embed_signup-->
        <p class="newsletter-footer">Don't worry, I will not spam your inbox. I will send one letter per month at most.</p>
      </div>
    </div>
    <div class="text-center mt-16"></div>
  </div>
</div>
