.customer-voices {
  --tw-bg-opacity: 1;
  background-color: rgba(226, 232, 240, var(--tw-bg-opacity));
  border-radius: 0.5rem;
  padding: 4rem 3rem;

  text-align: center;
  h2 {
    --tw-text-opacity: 1;
    color: rgba(51, 65, 85, var(--tw-text-opacity));
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: -2rem;
    margin-bottom: 2rem;

  }

  .voices {

    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    text-align: left;

    > * {
      border-radius: 0.5rem;
      background: #fff;
      padding: 1rem 1.5rem;

      img {

        opacity: 0.8;
      }

      p {
        margin-top: 2rem;
        --tw-text-opacity: 1;
        color: rgba(100, 116, 139, var(--tw-text-opacity));
      }

      box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1), 0 1px 1px -1px rgba(0, 0, 0, 0.04);
      transition: transform 0.25s linear, box-shadow 0.25s linear;

      &:hover {
        transform: scale(1.01);
        transform-origin: bottom center;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
      }
        h3 {
          font-weight: 700;
          font-size: 1.5rem;
          padding-top: 1rem;
        }
      &.call-to-action {
        opacity: 0.95;
        border: dashed 1px rgba(100, 116, 139, var(--tw-text-opacity));
        p {
          margin-top: 3rem;
        }
      }
    }

    @media(min-width: 900px) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 4rem;
    }
  }
}
